<tr>
  <td style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Hello, Octo Browser is here!
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            In the Base subscription, you not only have access to more resources
            but also the ability to automate certain actions within profiles
            using the API.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 16px">
          <span
            style="
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            The API allows you to speed up:
          </span>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <ul
            style="
              margin: 0;
              padding: 0;
              padding-left: 16px;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
            "
          >
            <li>Profile creation;</li>
            <li>Clicks and link navigation;</li>
            <li>Data input;/li></li>
            <li>Initiating or stopping profile operations.</li>
          </ul>
        </td>
      </tr>
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img"
                style="border-radius: 8px"
              >
                <img
                  src="https://i.ibb.co/V2WC8HX/image-6-ru.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 8px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Learn more about how to save time on routine tasks with the help of
            the API in
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >our article.</a
            >
          </p>
        </td>
      </tr>

      <!-- End Text section -->
    </table>
  </td>
</tr>
